<mat-card>
    <mat-toolbar id="place-toolbar" color="primary">
        <span id="toolbar-title"> Update Partner </span>
    </mat-toolbar>
    <form [formGroup]="form">
        <mat-form-field class="field">
            <input matInput placeholder="new Owner Name" formControlName="ownerName">
        </mat-form-field>
        <mat-form-field class="field">
            <input matInput placeholder="new Trading Name" formControlName="tradingName">
        </mat-form-field>
        <mat-form-field class="field hidden">
            <input matInput readonly placeholder=" newAddress" formControlName="address">
        </mat-form-field>
        <mat-form-field class="field hidden">
            <input matInput readonly placeholder="new CoverageArea" formControlName="coverageArea">
        </mat-form-field>
        <div id="map-title">
            <h2> new Address / Coverage Area: </h2>
        </div>
        <app-leaflet id = "leaflet-map">
        </app-leaflet>
        <div id="form-buttons">
            <button class = "form-button" color="primary" mat-raised-button (click)="onUpdate()"> Save </button>
            <button class = "form-button" mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</mat-card>