<div id="div-img">
    <div id="credits">
        <a id="credits" href="https://www.flaticon.com/free-icons/globe" title="globe icons">Globe icons created by
            Freepik - Flaticon</a>
        <a href="https://br.freepik.com/vetores-gratis/vetor-de-ilustracao-de-fundo-verde-de-conexao-em-todo-o-mundo_343
                9358.htm#query=geography%20technology%20green&position=1&from_view=sear
                ch&track=ais&uuid=62ea314a-26ae-4f93-a77e-181e058a695e">Imagem de rawpixel.com</a> no Freepik
    </div>
    <div id="div-text">
        <h1>Map API</h1>
    </div>
</div>
