form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

mat-card {
    padding: 2%;
}

#toolbar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 150%;
}

.field {
    min-width: 100%;
}

form #form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: center;
}

.form-button {
    width: 5%;
    margin: 5px;
}

#map-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

#leaflet-map {
    width: 100%;
}

.hidden {
    display: none;
}