#map-best {
    display: inline;
    height: 100%;
}

#form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    height: 7%;
}

#form-buttons button {
    height: 100%;
    width: 10%;
}

