<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>GeoPartners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/form.css" />
        <script src="../scripts/deleteScript.js" defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        crossorigin=""></script>
        <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />  
        <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  
        <script src="https://unpkg.com/@turf/turf@latest"></script>
    </head>
    <body>
        <main class="main">
            <div class="title">
                <h1> DELETE PARTNER </h1> 
            </div>
            <form id="delete-form">
                <label for="document"> Document: </label>
                <input type="text" name="document" placeholder="Document"><br>
                <button id="submit" type="submit">SUBMIT</button>
            </form>
        </main>
    </body>
</html>
