<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>GeoPartners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/partners.css" />
        <link rel="stylesheet" href="../styles/responsive-partners.css"/>
        <script src="../scripts/partnersScript.js" defer></script>
    </head>
    <body>
        <main>
            <div class="title">
                <h1> PARTNERS </h1>  
            </div>
            <div class="div-table">
                <table id="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Owner Name</th>
                            <th>Trading Name</th>
                            <th>Document</th>
                        </tr>   
                    </thead> 
                </table>     
            </div>
        </main>
    </body>
</html>
