<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>GeoPartners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles/search.css}" />
        <script th:src="@{/scripts/searchScript.js}" defer></script>
        <script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
        <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.9.3/dist/leaflet.css}"
        crossorigin=""/>
        <script th:src="@{https://unpkg.com/leaflet@1.9.3/dist/leaflet.js}"
        crossorigin=""></script>
        <link rel="stylesheet" th:href="@{https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css}" />  
        <script th:src="@{https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js}"></script>  
        <script th:src="@{https://unpkg.com/@turf/turf@latest}"></script>
    </head>
    <body>
        <main class = "main">
            <div class = "title">
                <h1> BEST PARTNERS</h1> 
            </div>
            <form id = "search-form">
                <label for="address"> Insert Your Address: <br><br></label>
                <div id="map" style = " height: 400px; width: 1000px;";></div><br>
                <button type = "submit">SUBMIT</button>
            </form>
            <div class = "div-table">
                <table id = "table" >
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>ID</th>
                            <th>Trading Name</th>
                            <th>Owner Name</th>
                        </tr>   
                    </thead> 
                </table>     
            </div>
        </main>
    </body>
</html>
