<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>GeoPartners</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/search.css" />
        <link rel="stylesheet" href="../styles/responsive-form.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="../scripts/searchScript.js" defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        crossorigin=""></script>
        <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />  
        <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>  
        <script src="https://unpkg.com/@turf/turf@latest"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <main class="main">
            <div class="title">
                <h1> BEST PARTNERS</h1> 
            </div>
            <form id="search-form">
                <label for="address"> Insert Your Address: <br><br></label>
                <div id="map" style="height: 400px; width: 1000px;"></div><br>
                <button id="submit" type="submit">SUBMIT</button>
            </form>
                <div class ="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>ID</th>
                                <th>Trading Name</th>
                                <th>Owner Name</th>
                            </tr>
                        </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody> 
                    </table> 
                </div>   
        </main>
    </body>
</html>
