@media (max-width: 650px) {
    #div-img {
        display: none;
    }

    #mat-container {
        width: 100vh;
    }
}

.main {
    display: flex;
    width: 100%;
    height: 90%;
}

mat-sidenav-container {
    display: flex;
    height: 100%;
    width: 35%;
}

mat-sidenav {
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
}

.button-side {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 5%;
    height: 10%;
    width: 100%;
}

mat-icon {
    padding: 5%;
}


.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-img img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}