<section class="main">
    <mat-sidenav-container id = "mat-container">
        <mat-sidenav mode="side" opened>
            <button mat-raised-button color="accent" class="button-side" (click)="navigateToSee()">
                <span>SEE PARTNERS </span>
                <mat-icon> people </mat-icon>
            </button>
            <button mat-raised-button color="accent" class="button-side" (click)="navigateToRegister()">
                <span>REGISTER PARTNER </span>
                <mat-icon> person_add </mat-icon>
            </button>
            <button mat-raised-button color="accent" class="button-side" (click)="navigateToSeeBest()">
                <span>SEARCH BEST PARTNERS </span>
                <mat-icon> search </mat-icon>
            </button>
            <button mat-raised-button color="accent" class="button-side" (click)="navigateToAnotherProjects()">
                <span>SEE ANOTHER PROJECTS </span>
                <mat-icon> language </mat-icon>
            </button>
        </mat-sidenav>
    </mat-sidenav-container>
    <div class = "div-img" id="div-img">
        <img [src] ="ImagePath">
    </div>
</section>